<%- include('./partials/header.ejs') %>

<div class="p-6">
    <h1 class="text-4xl mb-6 font-semibold text-primary">Welcome to Movies World</h1>
    <img src="https://geeksofdoom.com/GoD/img/2016/02/deadpool-film-header.jpg" class="shadow-lg" alt="" width="1000px">
</div>

<%- include('./partials/footer.ejs') %>